.root {
  margin: 0 16px;
}

.pageTitle {
  color: $color-gray-base;
  font-size: 1.7rem;
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.projectCount {
  font-size: .8em;
  text-transform: none;
}
