.fundingWrapper {
  border-bottom: solid 1px $color-gray-xlight;
  font-size: .625rem;
  margin: 30px 0;
  padding-bottom: 30px;
}

.termTitle {
  color: $color-gray-light;
  font-size: 1.375em;
  line-height: 1.5;
}

.termValue {
  color: $color-gray-base;
}

.terms {
  border-bottom: solid 1px $color-gray-xlight;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
