// Fix for missing style in the react-toolbox styling. This line is present in
// google's version
:global(.material-icons) {
  height: initial;
}

// Fix for scroll bars appearing on bare text because the line-height is too
// small to contain the text
:global(.wrap .grid-content) {
  line-height: 1.2rem;
}

// Slick Slider Customizations
:global(.slick-prev) {
  left: 25px;
}

:global(.slick-next) {
  right: 25px;
}

// Foundation, these should not all have negative margins
:global(.grid-content .grid-block) {
  margin-left: 0;
  margin-right: 0;
}
