$unit: .625rem;

$color-gray-base: #747474;
$color-gray-light: #aaa;
$color-gray-xlight: #d8d8d8;
$color-gray-xxlight: #f7f7f7;

$color-primary: #8ec353;

$color-secondary: #ff9c00;
$color-secondary-light: #ffdeaa;

$button-neutral-color: $color-gray-xlight;
$input-text-error-color: $color-secondary;
