.contentWrapper {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 10px;
  position: relative;
}

.brand {
  margin-right: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.logo {
  width: 200px;
}

@media (max-width: 550px) {
  .brand {
    text-align: left;
  }
}

.title {
  color: $color-gray-base;
  font-size: 2rem;
}
