.root {
  color: $color-gray-base;
  font-size: 1.4rem;
}

.raised {
  color: $color-primary;
  font-weight: 700;
  line-height: 1.5em;
}

.percent {
  border-left: 1px solid $color-gray-xlight;
  color: $color-secondary;
  font-weight: bold;
  margin-left: 10px;
  padding-left: 10px;
}

.large {
  font-size: 2.4em;

  .raised {
    font-size: 1.5em;
  }
}
