.rightShadow {
  box-shadow: inset -5px 0 10px -2px $color-gray-xlight;
}

.root {
  composes: rightShadow;
}

.main {
  composes: rightShadow;
  background-color: $color-gray-xxlight;
  padding-top: 20px;
}

.heading {
  color: $color-primary;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 40px;
  text-transform: uppercase;;
}

.sectionTitle {
  composes: heading;
  border-top: 2px solid $color-gray-xlight;
  margin-top: 30px;
  padding-top: 30px;
}

.detail {
  color: $color-gray-light;
  padding-top: 10px;
}

.teamTitle {
  border-top: 2px solid $color-gray-xlight;
  color: $color-gray-light;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
}
