.root {
  button {
    background: $color-gray-xxlight;
    border-radius: 50%;
    height: 100px;
    margin-bottom: 25px;
    width: 100px;
  }

  span {
    border-radius: 50%;
    color: $color-gray-light;
    font-size: 32px;
  }

  input {
    display: none;
  }
}

$avatar-size: 100px;

.avatar {
  background: $color-gray-xxlight;
  border: 2px solid $color-gray-xlight;
  height: $avatar-size;
  line-height: 3rem;
  margin-bottom: 25px;
  width: $avatar-size;

  &:hover {
    background: $color-gray-xlight;
  }

  span {
    font-size: 3rem;
    margin-top: 28px;
  }

  img {
    height: $avatar-size - 4;
    object-fit: cover;
    width: $avatar-size - 4;
  }
}
