.root {
  cursor: pointer;
  display: inline;
}

.closeButton {
  background-color: $color-primary;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  padding: 5px 10px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 1;
}

.title {
  color: $color-gray-base;
  font-size: 2rem;
}
