<h1>New Offer for: <%= @offer.project.title %></h1>
<hr />
<ul>
  <li>Submitted at: <%= @offer.created_at %></li>
  <li>Investor name: <%= "#{@user.first_name} #{@user.last_name}" %></li>
  <li>Project URL: <%= @offer.project_id %></li>
  <li>Amount: <%= number_to_currency @offer.amount %></li>
</ul>
