New Offer for: <%= @offer.project.title %>
=========================================================

- Submitted at: <%= @offer.created_at %>
- Investor name: <%= "#{@user.first_name} #{@user.last_name}" %>
- Project URL: <%= @offer.project_id %>
- Amount: <%= number_to_currency @offer.amount %>
