.slider {
  margin-top: 15px;
  overflow: hidden;
}

.preview {
  background-size: cover;
  border: 1px solid $color-gray-xlight;
  cursor: pointer;
  display: block;
  padding-top: 60%;
  transition: box-shadow .2s;
  width: 95%;

  &:hover {
    box-shadow: inset 0 0 0 2px $color-gray-xlight;
  }
}
