.navBar {
  background-color: #fff;
  border-bottom: 5px solid $color-primary;
  display: flex;
}

.homeLink {
  display: block;
  flex: 0 1 auto;
  order: 2;
  padding: 12px 2rem 10px;
}

.logo {
  height: 38px;
  width: auto;
}

.navLinks {
  flex: 1 1 auto;
  list-style-type: none;
  margin: 0 1rem;
  order: 1;
  padding: 0;
}

.navLinkItem {
  display: inline-block;

  a {
    color: $color-gray-light;
    display: inline-block;
    font-weight: 500;
    padding: 17px 1rem;
    transition: color .2s;

    &:hover {
      color: $color-gray-base;
    }

    &.active {
      color: $color-primary;
    }
  }
}
