.card {
  font-size: .625rem;
  margin: 1.6em 0;
  position: relative;
}

.cardContent {
  padding: 0 3em 2em;
  position: relative;
}

.header {
  color: $color-gray-base;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.title {
  composes: header;
  font-size: 2.2em;
  line-height: 1;
  margin-bottom: 0;
  margin-top: .2em;
}

.legalEntity {
  composes: header;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1em;
}

.type {
  composes: header;
  font-size: 1.4em;
  margin-bottom: 0;
  margin-top: .7em;
  text-transform: none;
}

.location {
  background-color: $color-primary;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  left: 0;
  padding: 5px 20px;
  position: absolute;
  top: -50px;
}

.cardMedia {
  background-color: $color-gray-light;
  height: 200px;
  object-fit: cover;
}

.fundingWrapper {
  margin-bottom: 1.5em;
}

.projectAttribute {
  font-size: 1.6em;
  margin-bottom: .3em;
}

.label {
  color: $color-gray-base;
  font-weight: 300;
}

.value {
  color: $color-primary;
}

.moreButton {
  bottom: 2em;
  display: block;
  position: absolute;
  right: 3em;
}
