.root {
  overflow-y: auto;
}

.wrapper {
  background: #fff;
}

.sidebarTitle {
  background-color: $color-primary;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0;
  padding: 1.2rem 0;
  text-align: center;
  text-transform: uppercase;
}
