.button {
  border: 2px solid $color-gray-xxlight;
  border-radius: 50%;
  box-shadow: none;
  height: 100px;
  margin-bottom: 25px;
  width: 100px;

  span {
    border-radius: 50%;
    color: $color-gray-light;
    font-size: 32px;
    font-weight: 100;
  }
}

.fieldLabel {
  color: $color-gray-light;
  font-size: .9rem;
  line-height: 1.4rem;
  margin: 0;
}
