.root {
  background: #f7f7f7;
}

.subtitle {
  color: $color-gray-light;
  text-align: center;
}

.toplabel {
  color: $color-gray-light;
  line-height: 24px;
  text-align: center;
}

.label {
  color: $color-gray-base;
  margin: 0 0 .7rem .7rem;
}

textarea {
  &.textarea {
    height: 150px;
  }
}

select {
  &.select {
    background: #fff;
    border-radius: 30px;
    line-height: 1.3rem;
    padding: .5rem 1rem;
  }
}

.selectLeft {
  display: inline-block;
  padding-right: 0;
  position: relative;
  width: 100%;

  select {
    background: #fff;
    border-radius: 30px 0 0 30px;
    line-height: 1.3rem;
    padding: .5rem 1rem;
  }
}

.selectRight {
  display: inline-block;
  padding-left: 0;
  position: relative;
  width: 60%;

  select {
    background: #fff;
    border-left: none;
    border-radius: 0 30px 30px 0;
    line-height: 1.3rem;
    padding: .5rem 1rem;
  }
}

.dropdownIcon {
  pointer-events: none;
  position: absolute;
  right: 30px;
  top: 7px;
}

.disabled,
.light {
  color: $color-gray-light;
}

.addButton {
  border: 2px solid $color-gray-xxlight;
  border-radius: 50%;
  box-shadow: none;
  height: 100px;
  margin-bottom: 25px;
  width: 100px;

  span {
    border-radius: 50%;
    color: $color-gray-light;
    font-size: 32px;
    font-weight: 100;
  }
}
