.nameInput {
  display: inline-block;
  width: 48%;

  &:first-of-type {
    margin-right: 4%;
  }
}

.terms {
  font-size: .75rem;
  margin-top: 25px;
}

.termsLabel {
  color: #fff;
  display: inline;
  line-height: 150%;
  text-align: center;

  a {
    color: $color-primary;
  }
}

.checkbox {
  display: inline;
  margin-right: 15px;

  &.unchecked {
    [data-react-toolbox='check'] {
      border-color: $color-gray-light;
    }
  }
}

.continueButton {
  background-color: transparent;
  border: 2px solid $color-gray-xlight;
  border-radius: 30px;
  color: $color-gray-xlight;
  display: block;
  font-size: 2em;
  font-weight: 300;
  height: 60px;
  margin-top: 50px;
  overflow: hidden;
  text-transform: none;
  transition: background-color .2s, color .2s;
  width: 100%;

  &:hover {
    background-color: $color-primary;
    border-color: $color-primary;
    color: #fff;
  }

  &:focus {
    background-color: darken($color-primary, 20%);
    border-color: darken($color-primary, 20%);
    outline: 0;
  }

  &:disabled {
    opacity: .3;
  }

  &:disabled:hover {
    background: none;
    border-color: inherit;
    color: $color-gray-xlight;
  }
}

.loginLink {
  color: #fff;
  display: inline-block;
  font-size: 1.8em;
  font-weight: 300;
  margin: 1em auto;
  padding: 1em;

  &:visited {
    color: #fff;
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-primary;
    outline: 0;
    transition: color .2s;
  }
}

.passwordLink {
  color: $color-primary;
  display: block;
  font-size: .9rem;

  &:hover,
  &:active,
  &:focus {
    color: $color-primary;
    outline: 0;
    transition: color .2s;
  }
}

.notification {
  border-radius: 5px;
  font-size: .9rem;
  line-height: 1rem;
  margin: 20px 0 -20px;
  padding: 20px;
}

.errorNotification {
  composes: notification;
  background-color: $color-secondary-light;
  border: 1px solid $color-secondary;
  color: $color-secondary;
}

.successNotification {
  composes: notification;
  background-color: lighten($color-primary, 30%);
  border: 1px solid $color-primary;
  color: darken($color-primary, 10%);
}
