$avatar-size: 170px;

.name {
  color: $color-primary;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.title {
  color: $color-gray-base;
  font-size: 14px;
  padding-left: 10px;
  text-transform: none;
}

.avatar {
  background: none;
  height: $avatar-size;
  line-height: 3rem;
  margin-bottom: 25px;
  width: $avatar-size;

  span {
    font-size: 3rem;
    margin-top: 28px;
  }

  img {
    height: $avatar-size;
    object-fit: cover;
    width: $avatar-size;
  }
}

.bio {
  color: $color-gray-light;
  font-size: 13px;
  margin-bottom: 20px;
}
