.root {
  background: none;
  color: #fff;
  min-height: 60vh;
  position: relative;
  text-align: center;
}

.background {
  background: $color-gray-light;
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.featuredImage {
  filter: brightness(55%);
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.information {
  align-items: center;
  z-index: 1;
}

.contentRoot {
  overflow: hidden;
}

.title {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.location {
  border-bottom: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.locationIcon {
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.details {
  max-width: 500px;
}

.typeIcon {
  margin-bottom: 3px;
  width: 2.5rem;

  span {
    font-size: 2.2rem;
  }
}

.detailValue {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.detailLabel,
.typeOfDevelopment {
  color: #fff;
  font-size: 18px;
  line-height: 1.5rem;
  margin-bottom: 10px;
}

.downIcon {
  align-self: flex-end;
  color: #fff;
  margin-bottom: 30px;
  width: 100%;
  z-index: 1;

  span {
    font-size: 4rem;
  }
}
