.root {
  background: url('./page-bg.jpg') bottom right no-repeat;
  background-size: cover;
  display: block;
  min-height: 100vh;
  padding: 4em;
  width: 100%;
}

.container {
  font-size: .625rem;
  margin: 0 auto;
  max-width: 350px;
  text-align: center;

  [data-react-toolbox='input'] {
    text-align: left;

    input {
      border-bottom: 1px solid $color-gray-light;
      color: #fff;
    }

    label {
      color: $color-gray-xlight;
    }
  }

  [data-react-toolbox='font-icon'] {
    color: $color-gray-light;
  }
}

.logo {
  display: block;
  margin: 0 auto 4em;
  width: 15em;
}

.title {
  color: #fff;
  font-size: 3em;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
