.header {
  margin: 50px 46px;

  h1 {
    color: $color-primary;
    font-size: 1.9rem;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.formCard {
  background: #fff;
  margin-top: 40px;
  padding-top: 20px;
}

.formCardTitle {
  color: $color-gray-base;
  line-height: 60px;
  margin: 20px 0;
}

.titleIcon {
  font-size: 1.2rem;
  margin: 0 10px 0 20px;
  position: relative;
  top: 2px;
}

.formCardNumber {
  border-bottom: 1px solid $color-gray-base;
  color: $color-gray-base;
  line-height: 32px;
  margin: 20px 30px 0 0;
  padding-top: 15px;
  text-align: center;
  width: 25px;
}

.controlsLeft {
  float: left;
  margin: 10px 0;
  padding-bottom: 15px;
}

.controls {
  float: right;
  margin: 10px 0;
  padding-bottom: 15px;
}
