.root {
  align-items: center;
  background-color: $color-secondary-light;
  border-radius: 20px;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  height: 36px;
  justify-content: center;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-mask-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC');
}

.bar {
  background-color: $color-secondary;
  height: 100%;
  left: 0;
  position: absolute;
  transition: width .4s;
}

.percent {
  z-index: 10;
}
