.button {
  border-radius: 3rem;
  height: 3.5rem;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 100%;

  &:disabled {
    background-color: $color-gray-xlight;
  }

  [data-react-toolbox='ripple'] {
    border-radius: 3rem;
  }
}

.notification {
  background-color: $color-gray-xxlight;
  border-radius: 30px 30px 0 0;
  margin: 30px 0 -45px;
  overflow: hidden;
  width: 100%;

  p {
    color: $color-primary;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding: 15px 30px 40px;
  }
}

.disclaimer {
  color: $color-gray-light;
  margin: 10px 30px;
  padding-left: 10px;
  position: relative;

  &::before {
    content: '*';
    left: 0;
    position: absolute;
    top: 0;
  }

  p {
    font-size: .8rem;
    line-height: 1.2;
    margin: 0 0 5px;
  }
}
