.large {
  background: $color-gray-xxlight;
  border-radius: 50%;
  height: 100px;
  margin-bottom: 25px;
  width: 100px;


  span {
    border-radius: 50%;
    color: $color-gray-light;
    font-size: 32px;
  }
}

.small {
  margin-bottom: 25px;

  span {
    border-radius: 50%;
    color: $color-gray-light;
    margin-right: 0;
  }
}
